*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/*utilities*/
.d-flex{
  display: flex;
}

header{
  background-color: rgb(0,0,0,.3);
  height: 100px;
  width: calc(100vw - 200px);
  justify-content: flex-end;
  align-items: center;
  margin-left: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

main{
  height: calc(100vh - 80px);
  overflow-y: auto;
  background-color: #141922;
}


main .parte-sinistra{
  height: calc(100vh - 80px);
  background-color: black;
  width: 200px; 
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: row;
  
}

.header-button{
  padding:10px 30px;
  border-radius: 20px;
  height: 40%;
  background-color: black;
  color: white;
  border: 2px solid white;
  margin-right: 15px;
}

footer{
  height: 80px;
  background-color: #282828;
  color: white;
}

.parte-sinistra img{
  width: 60%;
  height: auto;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.playlist{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}